header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid black;
}

li {
    display: inline-block;
    margin: 1rem;
    cursor: pointer;
}

.imgMarolio {
    width: 10rem;
}